gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks


# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.dart_tool/
.flutter-*
generated_plugin_registrant.dart

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/engine/
ios/.symlinks
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.dart_tool/
ios/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# macOS
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/Flutter/Generated.xcconfig
macos/Flutter/App.framework
macos/Flutter/engine/
macos/.symlinks
macos/Pods/
macos/build/
macos/.dart_tool/
macos/Runner.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Android
android/.gradle/
android/captures/
android/.idea/
android/local.properties
android/build/
*.iml

# Web
web/.dart_tool/
web/build/

# Windows
windows/.dart_tool/
windows/build/
windows/Flutter/ephemeral/

# Linux
linux/.dart_tool/
linux/build/
linux/Flutter/ephemeral/

# VSCode
.vscode/

# IntelliJ/Android Studio
.idea/
*.iml
*.ipr
*.iws
*.sw?

# Others
pubspec.lock
*.log
*.tmp
*.DS_Store
